* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: #0a192f;
}

.logo {
    color: white;
    font-size: 15px;
}

span {
    color: #64ffda;
}

/* nav */

nav {
    width: 100%;
    height: 13vh;
    /* border: 2px solid red; */
    background-color: #020c1b;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgb(32, 31, 31) 0px 0px 13px;
}

nav ul {
    margin-left: 100px;
}

nav ul li {
    display: inline-block;
    padding: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}


button {
    width: 120px;
    padding: 8px;
    border: none;
    color: #64ffda;
    background-color: #020c1b;
    border: 1px solid #64ffda;
}


/* Banner */
.banner {
    width: 100%;
    height: 100vh;
    background-color: #0a192f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content h1 {
    padding: 20px;
    font-size: 16px;
    line-height: 17.6px;
    color: #64ffda;
}

.banner-content h2 {
    padding: 15px;
    color: #ccd6f6;
    line-height: 88px;
    font-size: 80px;
}

.banner-content h3 {
    padding: 20px;
    color: #8892b0;
    font-size: 80px;
    line-height: 72px;
}

.banner-content p {
    padding: 20px;
    font-size: 20px;
    line-height: 26px;
    color: #8892b0;
}

.view {
    line-height: 14px;
    font-size: 14px;
}

/* icons */

.social-icon {
    position: absolute;
    top: 380px;
    left: 30px;
    font-size: 20px;
    line-height: 40px;
    text-align: left;
    color: #a8b2d1;
    writing-mode: vertical-lr;
    position: fixed;
    z-index: 999;
}

.social-icon ion-icon {
    margin: 10px 0;
}

hr {
    width: 2px;
    height: 150px;
    position: absolute;
    top: 560px;
    left: 45px;
    position: fixed;
    z-index: 999;
}

.Side-text {
    position: absolute;
    top: 270px;
    right: 30px;
    font-size: 20px;
    line-height: 40px;
    text-align: left;
    color: #a8b2d1;
    writing-mode: vertical-lr;
    position: fixed;
    z-index: 999;
}

.Side-text hr {
    width: 2px;
    height: 165px;
    position: absolute;
    top: 270px;
    left: 30px;
    /* position: fixed;
    z-index: 999; */
}



/* About */
.about {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #0a192f;
}

.about h5 {
    width: 1130px;
    font-size: 35px;
}


.about h5 a {
    color: white;
}

.About-test1 {
    display: flex;
    justify-content: space-around;
}

.text1 {
    /* border: 1px solid black; */

}

.text1 p {
    margin: 50px;
    color: white;
}

.text1 h1 {
    margin: 50px 0px 0px 70px;
    color: white;

}





/* Card */
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #0a192f;
    background-image: #64ffda;
}

.title h5 {
    font-size: 30px;
    width: 1130px;
    /* margin: 30px auto;
    text-align: center; */
}

.title h5 a {
    color: white;
}

.box {
    width: 300px;
    height: 455px;
    background-color: #fff;
    border-radius: 5px;
    padding-top: 120px;
    margin: 20px;
    text-align: center;
    letter-spacing: 1px;
    box-shadow: 0 3px 5px rgb(0, 0, 0, .3);
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.box h3 {
    font-size: 30px;
    padding: 20px 0;
    color: #0a192f;
}

.box p {
    font-size: 15px;
    color: #0a192f;
}

.box .click {
    width: 140px;
    height: 40px;
    background-color: #020c1b;
    color: white;
    border: none;
    outline: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 50px;
    margin-top: 30px;
    margin-left: 77px;
    padding: 8px;
}

.box::before {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.box::after {
    width: 100%;
    height: 100%;
    background-color: #64ffda;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    clip-path: circle(20% at 90% 10%);
    transition: .2s;
}

.box .count {
    position: absolute;
    font-weight: bolder;
    font-size: 50px;
    top: 15px;
    right: 30px;
    color: white
}


/* Gallery */



div.gallery {
    margin: 5px;
    float: left;
    width: 325px;
    background-color: #020c1b;
  }
 
  div.gallery img {
    width: 100%;
    height: auto;
    background-color: #020c1b;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    background-color: #020c1b;
  }

  .titlee{
    font-size: 40px;
    margin-bottom: 30px;
  }

  .titlee a{
    color: white;
  }

  /* gallery ends */



/* Experience */

.text11 h1{
    font-size: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.text11 p{
    color: white;
}


/* footer */
footer{
    width: 100%;
    height: 10vh;
    background-color: #0a192f;
    /* border: 1px solid black; */
}

footer .footer-banner{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a192f;
}
.footer-text{
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  color: white;
}

.icons{
    margin-top: 50px;
    margin-left: 1000px;
}


/* footer end */





